.box img
{
    width: 250px;
    height: 250px;
}

/* .jerseybox
{
    margin-left: 0px;
} */

.jerseybox .container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.jerseybox .container .box
{
    margin: 20px;
    padding: 20px;  
    cursor: pointer;  
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    height: 430px;
    
}

.jerseybox .container .box:hover
{
    border: 1px solid rgb(3, 158, 209) ; 
    border-radius: 0.5rem;
}

.icon
{
    z-index: 1;
    position:relative;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    transition: 0.5s;
    padding-left: 80px;
    display:none;
}

.icon li
{
    padding: 10px 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;   
   
}
.box:hover .icon
{
    display: block;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    transition: 0.5s;
    padding-left: 80px;
}

.icon li:hover
{
  background: lightblue;
}

.img_box
{
    padding-top: 20px;
}



