.search_box
{
    margin-right: 30px;
}

.search_box input
{
    outline: none;
    padding: 10px 30px;
    border: 3px solid black;
    width: 300px;
    
}

.search_box button
{
    border: 3px solid black;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    background: black;
    color: white;
}