*
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.footer
{
    padding: 30px 40px;
    width:100%;
    background: black;

}

.footer .container
{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.footer .container .about
{
    max-width: 30%;
}

.footer .container .about .detail p{
    margin-top: 20px;
    font-size: 16px;
    color: grey;
    text-align: center;
}

.footer .container .about .detail .icon
{
    margin-top: 20px;
    display: flex;
    padding-left: 0px;
}

.footer .container .about .detail .icon li
{
    margin-left: 20px;
    list-style: none;
    padding: 10px 10px;
    box-shadow: grey 2px 2px 2px;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}

.footer .container .about .detail .icon li:hover
{
    background: lightseagreen;
}


.footer .container .account
{
    margin-right: 100px;
    margin-top: 12px;
}

.footer .container .account h3
{
    font-size: 32px;
    color:white;
}

.footer .container .account ul
{
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}

.footer .container .account ul li
{
    
    margin-top: 5px;
    font-size: 14px;
    transition: 0.5s;
    cursor: pointer;
}

.footer .container .account ul li:hover
{
    color: lightseagreen;
}

/* footer pages */

.footer .container .page
{
    margin-right: 100px;
    margin-top: 12px;
}

.footer .container .page h3
{
    font-size: 32px;
    color: white;
}

.footer .container .page ul
{
    margin-top: 10px;
    margin-left: 20px;
}

.footer .container .page ul li
{
    
    margin-top: 5px;
    font-size: 14px;
    transition: 0.5s;
    cursor: pointer;
    color: white;
}

.footer .container .page ul li:hover
{
    color: lightseagreen;
}

.footer .app_name h1
{
    color: white;
}

.footer .container .page ul a
{
    text-decoration: none;
}
.footer .container .account ul a
{
    text-decoration: none;
    color: white;
}




